/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/


.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.homepagebeer {
    padding: 40px;
    width: 300px;
    height: auto;
}

button {
    padding: 40px;

    background-color: blueviolet;
}

td {
    background-color: darkgoldenrod;
}

.med {
    padding: 30px;
    width: auto;
    height: 250px;
}
