{{!-- NO dashes in the hbs partial names, 
since handlebars partials need to follow 
the same naming conventions as JavaScript variables --}}


<img class="med" src="{{this.image_url}}" alt=""></td>
<h3>{{this.name}}</h3>
<p>{{this.tagline}}</p>
<p>{{this.description}}</p>