<div>
    {{#each beersArray}}
    <h3>{{this.name}}</h3>
    <img src="{{this.image_url}}" alt="">
    <p>{{this.description}}</p>
    {{!-- console.log({{this.name}}) --}}
    {{/each}}
</div>

I can see this blablabla