<table>
    <tr>
        <td>{{#each beersArr}}
        one beer : {{this.name}}, {{this.image_url}}, {{this.description}}
        {{/each}}</td>

        <img src="{{this.image_url}}" alt="beer api image">
    </tr>
</table>