<div class="container">
<img src="images/beer-cartoon.jpg" alt="">
<button id="check-beers">Check the Beers!</button>
<button id="check-random">Check a random Beer</button>
</div>


{{!-- HENDRIK'S EXAMPLE

{{#if admin}}
Hey Admin
{{else}}
Hey Normal
{{/if}}, I'm a good {{ username }}

<ul>
  {{#each cities}}
  <li>{{this.name}}</li>
  {{/each}}
</ul> --}}